.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itembox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* border: 1px solid black; */
  border-radius: 10px;
  width: 100px;
  height: 80px;
  padding: 3px;
  margin: 0 15px;
  font-size: 16px;

  /* background-color: #fff; */
  color: #000;
}
.weather__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__buttons .btn {
  margin: 20px 40px;
  border: 1px solid #fff;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
}

.weather__buttons .btn:hover {
  cursor: pointer;
  background-color: #000;
}
