.weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: 1px solid #fff;
  margin: 25px auto;

  width: 60%;
  height: 150px;
}
.weather_img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .weather__mainImg {
  width: 200px;
  background: #fff;
} */
.temp {
  display: flex;
}
#big {
  font-size: 54px;
  margin-right: 4px;
}
#small_C {
  font-size: 16px;
  margin-right: 4px;
}

#small_F {
  font-size: 16px;
}
