* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #container {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 100%;
  height: 100%;
  width: 1200px;
  height: 800px;

  border: 1px solid black;
  /* background-color: skyblue; */
