* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

#container__layout {
  display: flex;
  flex-direction: column;
}
#container__main {
  display: flex;
  flex-direction: column;

  margin: auto;

  width: 1200px;
  height: 500px;

  border: 1px solid black;
  border-radius: 30px;

  background: rgb(54, 149, 175);
  background: linear-gradient(
    145deg,
    rgb(143, 216, 237) 7%,
    rgba(42, 177, 241, 1) 49%,
    rgba(1, 157, 154, 1) 100%
  );
}

#container__input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  /* background-color: black; */
}
#container__input input[type="search"] {
  width: 400px;
  height: 30px;
  padding: 6px;
}
#container__input input[type="submit"] {
  width: 100px;
  height: 30px;
}
